<div ng-controller="ProductSearchController as productSearchVm" layout="row" layout-sm="column" layout-xs="column">
    <div flex-gt-sm="40">
        <form id="productSearchForm" name="productSearchForm" ng-submit="productSearchVm.searchForProducts()" flex>

            <md-content layout-padding>
                <div layout layout-wrap>
                    <md-input-container class="md-block" flex>
                        <label for="searchPhrase">Search phrase:</label>
                        <input id="searchPhrase" name="searchPhrase" type="text" ng-model="productSearchVm.searchCriteria.searchPhrase" placeholder="Search Woolworths and Coles for Kleenex [sort by unit price] [all keywords are required]"/>
                    </md-input-container>
                    <md-button class="md-primary md-cornered" type="submit" ng-click="productSearchVm.searchForProductsUsingSearchPhrase()">
                        Search
                    </md-button>
                </div>
            </md-content>

            <md-content layout-padding>
                <md-input-container class="md-block">
                    <label for="keywords">Product keywords:</label>
                    <input id="keywords" name="keywords" type="text" ng-model="productSearchVm.searchCriteria.keywords"
                           required md-maxlength="50" />
                    <div ng-messages="productSearchForm.keywords.$error">
                        <div ng-message="required">
                            Keywords is required.
                        </div>
                        <div ng-message="md-maxlength">
                            Please restrict keywords to 50 characters.
                        </div>
                    </div>
                </md-input-container>
            </md-content>
            <md-content layout-padding>
                <div layout layout-sm="column" layout-wrap>

                    <div ng-repeat="(storeType, stores) in productSearchVm.storeTypeToStoresMap" flex="100">
                        <fieldset class="standard">
                            <legend>{{storeType}}</legend>
                            <div layout="row" layout-wrap>
                                <div ng-repeat="store in stores" flex="33">
                                    <md-checkbox ng-checked="productSearchVm.exists(store.key)" ng-click="productSearchVm.toggle(store.key)" aria-label="store.value">
                                        {{ store.value }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                </div>
            </md-content>
            <md-content layout-padding>
                <md-input-container>
                    <label>Sort by:</label>
                    <md-select id="searchCriteria" name="searchCriteria" ng-model="productSearchVm.searchCriteria.sortBy" required>
                        <md-option ng-repeat="sortType in productSearchVm.sortTypes" value="{{sortType.key}}">
                            {{sortType.value}}
                        </md-option>
                    </md-select>
                    <div ng-messages="productSearchForm.searchCriteria.$error">
                        <div ng-message="required">
                            Sort by is required.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-checkbox ng-model="productSearchVm.searchCriteria.allKeywordsRequired" aria-label="All keywords required">
                        Require all keywords
                    </md-checkbox>
                </md-input-container>
            </md-content>
            <div layout layout-sm="column">
                <md-button class="md-primary md-cornered" type="submit" ng-disabled="productSearchForm.$invalid">
                    Search
                </md-button>
            </div>
        </form>
    </div>
    <div flex-gt-sm="60">

        <div ng-if="productSearchVm.searchResultsContainsOnlyUnitPriceProducts()">
            <md-content flex>
                <section>
                    <div layout-lt-sm="column" layout-xs="column" layout="row">
                        <div flex-xs layout="column">
                            <gc-product-info product="product" ng-repeat="product in productSearchVm.searchResults.productsWithUnitPrices"/>
                        </div>
                    </div>
                </section>
            </md-content>
        </div>
        <div ng-if="productSearchVm.searchResultsContainsOnlyNonUnitPriceProducts()">
            <md-content flex>
                <section>
                    <div layout-lt-sm="column" layout-xs="column" layout="row">
                        <div flex-xs layout="column">
                            <gc-product-info product="product" ng-repeat="product in productSearchVm.searchResults.productsWithoutUnitPrices"/>
                        </div>
                    </div>
                </section>
            </md-content>
        </div>

        <div ng-if="productSearchVm.searchResultsContainsUnitPriceAndNonUnitPriceProducts()">
            <md-content flex>
                <section>
                    <div layout-lt-sm="column" layout-xs="column" layout="row">
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <md-subheader class="md-no-sticky">Results with unit prices</md-subheader>
                            <gc-product-info product="product" ng-repeat="product in productSearchVm.searchResults.productsWithUnitPrices"/>
                        </div>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <md-subheader class="md-no-sticky">Results without unit prices</md-subheader>
                            <gc-product-info product="product" ng-repeat="product in productSearchVm.searchResults.productsWithoutUnitPrices"/>
                        </div>
                    </div>
                </section>
            </md-content>

        </div>
    </div>
</div>
